/input/
/corrected.fasta
/.corrected.bps
/.corrected.idx
/corrected.db

/corrected.1.corrected.1.C0.las
/corrected.1.corrected.1.C1.las
/corrected.1.corrected.1.C2.las
/corrected.1.corrected.1.C3.las
/corrected.1.corrected.1.N0.las
/corrected.1.corrected.1.N1.las
/corrected.1.corrected.1.N2.las
/corrected.1.corrected.1.N3.las
/dalign_cmds/
/daligner_cmds.txt

